.note, .fun, .warning, .theorem {
    color: #000000;
    border: solid 1px #BFD62F;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 5px;
    margin: 5px;
}

.note { background-color: #DAE691; }
.fun { background-color: #F0C0D8; }
.warning { background-color: #FF3131; }
.theorem { background-color: #EEEEEE; }

.note:before, .fun:before, .warning:before, .theorem:before {
    font-weight: bold;
}

.note:before { content: "Note:";}
.fun:before { content: "Fun:"; }
.warning:before { content: "Warning:"; }
.theorem:before { content: "Theorem:"; }

.footnote {
  /* a single footnote link */
}
.footnotelist {
    font-size: $small-font-size;
}

.footnotelist .footnotebody {
  /* a single footnote body  */
}

.footnotelist .backlink {
  /* backlink to the footnote link */
}